
.scripturetips-content{
    display: none;
    position: absolute;
    top: -1000px;
    left: -1000px;
    z-index: 10;
    background: rgba(255, 255, 255, 1);
    border: solid 3px lightgray;
    border-radius: 8px;
    min-width: 400px;
    max-width: 550px;
    height: 180px;
    font-size: 1.5rem;
    overflow: hidden;
    padding: 0;
    overflow-y: scroll;
    cursor: pointer;
}


.scripturetips-content .st-inner-content{
    padding: 8px;
    line-height: 1.2;
}

.scripturetips-content h2.st-title{
    font-size: 2rem;
    margin: 0 0 2px 0 !important;
    padding: 2px 8px !important;
    border-bottom: solid 1px #DADADA;
    background: #FAFAFA;
}


/* CSS close button by Maneesh, downloaded 20200224 from https://codepen.io/maneeshc/pen/pPxKQm */
.st-close-button-wrapper {
  width: 28px;
  height: 26px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: absolute;
  right: 2px;
  top: 2px;
  background: gray;
  border-radius: 6px;
}

.st-close-button {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.st-close-button > div {
  position: relative;
}
.st-close-button-block {
  width: 30px;
  height: 15px;
  position: relative;
  overflow: hidden;
}
.st-close-button-block:before, .st-close-button-block:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(55% - 4px);
  display: block;
  width: 4px;
  height: 20px;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  background: white;
  -webkit-transition: all ease-out 280ms;
  transition: all ease-out 280ms;
}
.st-close-button-block:last-of-type {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.st-close-button .st-in .st-close-button-block:before {
  -webkit-transition-delay: 280ms;
          transition-delay: 280ms;
  -webkit-transform: translateX(15px) translateY(-15px) rotate(45deg);
          transform: translateX(15px) translateY(-15px) rotate(45deg);
}
.st-close-button .st-in .st-close-button-block:after {
  -webkit-transition-delay: 280ms;
          transition-delay: 280ms;
  -webkit-transform: translateX(-18px) translateY(-18px) rotate(-45deg);
          transform: translateX(-18px) translateY(-18px) rotate(-45deg);
}
.st-close-button .st-out {
  position: absolute;
  top: 0;
  left: 0;
}
.st-close-button .st-out .st-close-button-block:before {
  -webkit-transform: translateX(-5px) translateY(5px) rotate(45deg);
          transform: translateX(-5px) translateY(5px) rotate(45deg);
}
.st-close-button .st-out .st-close-button-block:after {
  -webkit-transform: translateX(5px) translateY(5px) rotate(-45deg);
          transform: translateX(5px) translateY(5px) rotate(-45deg);
}
.st-close-button:hover .st-in .st-close-button-block:before {
  -webkit-transform: translateX(-5px) translateY(5px) rotate(45deg);
          transform: translateX(-5px) translateY(5px) rotate(45deg);
}
.st-close-button:hover .st-in .st-close-button-block:after {
  -webkit-transform: translateX(5px) translateY(5px) rotate(-45deg);
          transform: translateX(5px) translateY(5px) rotate(-45deg);
}
.st-close-button:hover .st-out .st-close-button-block:before {
  -webkit-transform: translateX(-15px) translateY(15px) rotate(45deg);
          transform: translateX(-15px) translateY(15px) rotate(45deg);
}
.st-close-button:hover .st-out .st-close-button-block:after {
  -webkit-transform: translateX(15px) translateY(15px) rotate(-45deg);
          transform: translateX(15px) translateY(15px) rotate(-45deg);
}
/* end CSS close button by Maneesh, downloaded 20200224 from https://codepen.io/maneeshc/pen/pPxKQm */


.scripturetips-content .st-verse-title{
    display: block;
    font-weight: bold;
}

.scripturetips-content .st-verse-number{
    font-size: 0.7em;
    position: relative;
    top: -0.4em;
    padding: 0 0.1em 0 0.3em;
    color: darkcyan;
    font-weight: bold;
    opacity: 0.6;
}

.scripturetips-content .st-note{
    padding-right: 0.3em;   
}

.scripturetips-content .st-verse-number:before
{
    content: ' ';
}

.scripturetips-content .st-supplied:after
{
    content: ' ';
}

.scripturetips-content .st-footer{
    position: relative;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    border-top: solid 1px #DADADA;
    margin: 2px 0 0 0;
    padding: 0px 8px;
    background: #FAFAFA;
    font-size: 0.9em;
    overflow: hidden;
    white-space: nowrap;
}

.scripturetips-content .st-footer .st-footer-ellipse{
    position: absolute;
    padding-right: 0.5em;
    right: 0;
    bottom: 0;
    background: #FAFAFA;
    -webkit-box-shadow: 0px 0px 14px 13px rgba(250,250,250,1);
    -moz-box-shadow: 0px 0px 14px 13px rgba(250,250,250,1);
    box-shadow: 0px 0px 14px 13px rgba(250,250,250,1);
}