
.scripturetips-content{
    display: none;
    position: absolute;
    top: -1000px;
    left: -1000px;
    z-index: 10;
    background: rgba(255, 255, 255, 1);
    border: solid 3px lightgray;
    border-radius: 8px;
    min-width: 400px;
    max-width: 550px;
    height: 180px;
    font-size: 1.5rem;
    overflow: hidden;
    padding: 0;
    overflow-y: scroll;
    cursor: pointer;
}


.scripturetips-content .st-inner-content{
    padding: 8px;
    line-height: 1.2;
}

.scripturetips-content h2.st-title{
    font-size: 2rem;
    margin: 0 0 2px 0 !important;
    padding: 2px 8px !important;
    border-bottom: solid 1px #DADADA;
    background: #FAFAFA;
}

.scripturetips-content .st-verse-title{
    display: block;
    font-weight: bold;
}

.scripturetips-content .st-verse-number{
    font-size: 0.7em;
    position: relative;
    top: -0.4em;
    padding-right: 0.1em;
    color: darkcyan;
    font-weight: bold;
    opacity: 0.6;
}

.scripturetips-content .st-note{
    padding-right: 0.3em;   
}

.scripturetips-content .st-supplied:after,
.scripturetips-content .st-note,
.scripturetips-content .st-idiom
{
    content: ' ';
}

.scripturetips-content .st-footer{
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    border-top: solid 1px #DADADA;
    margin: 2px 0 0 0;
    padding: 0px 8px;
    background: #FAFAFA;
    font-size: 0.9em;
}